<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="icon" href="/Black de la Jack.svg" />
    <title>Black de la Jack</title>
  </head>
  
  <body>
    <script>
      globalThis.offset = <%= records.length %>;
    </script>
    <script src="/index.js"></script>

    <header class="w-full">
      <div class="flex flex-row items-center flex-space-between w-full">
        <div class="flex flex-row items-center justify-start" style="gap:2em;flex:0 0 max-content;">
          <img src="/Black de la Jack.svg" alt="black de la jack logo" width="50" height="50">
          <h1>Black de la Jack - Sign in</h1>
        </div>
        <nav style="justify-self:end;gap:2em;" class="flex flex-row w-content">
          <div class="flex flex-row flex-space-between items-center" style="flex:1;gap:1em;">
            <div>
              <a href="/#">Home</a>
            </div>
            <div>
              <a href="/#about">About</a>
            </div>
            <div>
              <a href="/#contact">Contact</a>
            </div>
          </div>
          <div class="flex" style="flex:1;justify-self:end;gap:1em;">
            <div>
              <a href="/signup">Sign up</a>
            </div>
            <div>
              <a href="/signin">Sign in</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <!-- Button to simulate sending new sensor data -->
      <button type="button" onclick="sendData()">send some fake sensor data</button>
      <button type="button" id="install" hidden>send some fake sensor data</button>
      <!-- Search Form -->
      <form id="searchForm">
        <label for="from">
          From Date:
          <input type="datetime-local" id="from" name="from" value="<%= locals.query?.from || '' %>">
        </label>
        <label for="to">
          To Date:
          <input type="datetime-local" id="to" name="to" value="<%= locals.query?.to || '' %>">
        </label>
        <label for="search">
          Text Search:
          <input type="search" id="search" name="search" placeholder="Enter search term"
            value="<%= locals.query?.search || '' %>">
        </label>
        <button type="submit">Search</button>
      </form>

      <!-- Data Table -->
      <table id="TABLE">
        <thead>
          <tr>
            <th>Date</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <% records.forEach(record=> { %>
            <tr id="<%= record.id %>">
              <td>
                <%= new Date(record.date).toLocaleString() %>
              </td>
              <td>
                <%= record.temperature.toFixed(2) %>
              </td>
              <td>
                <%= record.humidity.toFixed(2) %>
              </td>
              <td>
                <%= record.other || 'N/A' %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>

      <!-- Load More Button for infinite scrolling -->
      <button type="button" id="loadMore">Load More</button>
    </main>
  </body>

</html>