<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- (B) ICONS & PLATFORM SPECIFIC -->
    <link rel="icon" href="/Black de la Jack.svg" type="image/svg+xml" />

    <!-- (B2) ANDROID/CHROME -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="white">

    <!-- (B3) IOS APP ICON + MOBILE SAFARI -->
    <link rel="apple-touch-icon" href="/Black de la Jack.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Black de la Jack">

    <!-- (B4) WINDOWS -->
    <meta name="msapplication-TileImage" content="/Black de la Jack.svg">
    <meta name="msapplication-TileColor" content="#ffffff">

    <!-- (D) SERVICE WORKER -->
    <script>
      if ("serviceWorker" in navigator) { navigator.serviceWorker.register("/sw.js"); }
    </script>

    <link rel="stylesheet" href="/styles.css" />
    <link rel="manifest" href="/site.webmanifest" />
    <script>
      globalThis.offset = <%= locals.records?.length || 0 %>;
    </script>
    <script src="/index.js" defer></script>
    <title>Black de la Jack</title>
  </head>

  <body>


    <header class="w-full">
      <div class="flex flex-row items-center flex-space-between w-full">
        <div class="flex flex-row items-center justify-start" style="gap:2em;flex:0 0 max-content;">
          <img src="/Black de la Jack.svg" alt="black de la jack logo" width="50" height="50">
          <h1>Black de la Jack - Sign in</h1>
        </div>
        <nav style="justify-self:end;gap:2em;" class="flex flex-row w-content">
          <div class="flex flex-row flex-space-between items-center" style="flex:1;gap:1em;">
            <div>
              <a href="/#">Home</a>
            </div>
            <div>
              <a href="/#about">About</a>
            </div>
            <div>
              <a href="/#contact">Contact</a>
            </div>
          </div>
          <div class="flex w-content" style="flex:1 0 max-content;justify-self:end;gap:1em;">
            <div>
              <a class="cta" href="/signup">Sign up</a>
            </div>
            <div>
              <a class="cta" href="/signin">Sign in</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <!-- Button to simulate sending new sensor data -->
      <button type="button" onclick="sendData()">send some fake sensor data</button>
      <button type="button" id="install" hidden>send some fake sensor data</button>
      <!-- Search Form -->
      <form id="searchForm">
        <label for="from">
          From Date:
          <input type="datetime-local" id="from" name="from" value="<%= locals.query?.from || '' %>">
        </label>
        <label for="to">
          To Date:
          <input type="datetime-local" id="to" name="to" value="<%= locals.query?.to || '' %>">
        </label>
        <label for="search">
          Text Search:
          <input type="search" id="search" name="search" placeholder="Enter search term"
            value="<%= locals.query?.search || '' %>">
        </label>
        <button type="submit">Search</button>
      </form>
      <button type="button" id="install">Install app</button>
      <button type="button" id="select_device">Connect to Bluetooth</button>

      <!-- Data Table -->
      <% if (!locals.user) { %>
        <p>You are unauthorised</p>
      <% } else { %>
      <table id="TABLE">
        <thead>
          <tr>
            <th>Date</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <% locals.records?.forEach(record=> { %>
            <tr id="<%= record.id %>">
              <td>
                <%= new Date(record.date).toLocaleString("et-EE") %>
              </td>
              <td>
                <%= record.temperature.toFixed(2) %>
              </td>
              <td>
                <%= record.humidity.toFixed(2) %>
              </td>
              <td>
                <%= record.other || 'N/A' %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      <% } %>
      <!-- Load More Button for infinite scrolling -->
      <button type="button" id="loadMore">Load More</button>

    </main>
  </body>

</html>